nav{
    background-color: rgb(28, 26, 26);

.navbar-brand img{
    width: 50%;
}
.nav-link {
    color: rgb(249, 249, 249) !important;
    font-size: 20px;
    margin-left: 1rem;
}

.nav-link:hover,.nav-link.dropdown-toggle.show:hover{
    color: #75B3FE !important;
}}