.nosotros{
    padding: 100px 0;
    background-color: rgba(245, 247, 248, 0.915);
    color: #060606;

    .descripcion-nosotros{
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    
    .bg-black{
        background-color: #060606;
        color: rgba(245, 247, 248, 0.915);
    }
}