.videos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(249, 249, 249);

    .ratio{
        width: 45%;
        margin: 2rem;
        filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.67));
    }

    iframe{
        border-radius: 4px;
    }}